
.body {
    background-color: lightskyblue;
    color: navy;
}

.header {
    padding-bottom: 150px;
    padding-top: 100px;
    display: flex;
}

.play-choice {
    width: 50px;
    padding-left: 15px;
}


.main-game {
    margin: auto;
    padding-left: 500px;
    padding-right: 250px;
}
