
.body {
    background-color: lightskyblue;
    color: navy;
}

.header {
    padding-bottom: 150px;
    padding-top: 100px;
    display: flex;
}

.play-choice {
    width: 50px;
    padding-left: 15px;
}

.signature {
    font-family: monospace;
    size: 14px;
    align-items: center;
    padding-top: 50px;
}

.main-game {
    margin: auto;
    padding-left: 500px;
    padding-right: 250px;
    justify-content: center;
}

